In [1]:
import pandas as pd

In [2]:
traf_track = pd.read_csv("../data/traffic_tracker.csv")

In [4]:
traf_track.shape

(19590699, 5)

In [5]:
traf_track.head()

,TIME,SEGMENTID,BUS COUNT,MESSAGE COUNT,SPEED
0,01/16/2013 11:50:32 PM,116,2.0,7.0,18
1,02/24/2013 11:50:32 PM,54,2.0,11.0,23
2,02/17/2013 11:50:32 PM,597,0.0,0.0,-1
3,02/23/2013 11:50:32 PM,363,1.0,4.0,25
4,12/01/2014 11:50:32 PM,203,0.0,0.0,-1

In [2]:
crimes = pd.read_csv("../data/crimes.csv")

/home/ubuntu/anaconda3/envs/dat500/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
a = crimes["Longitude"].value_counts().index.to_list()

In [30]:
for l in a:
    if l > -87:
        print(l)

In [10]:
crimes.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [10]:
crimes["District"].value_counts()

8.0     478290
11.0    453889
7.0     415241
6.0     409006
25.0    405441
4.0     399666
3.0     358166
9.0     348914
12.0    346360
2.0     334164
19.0    315158
18.0    314955
5.0     312983
15.0    306785
10.0    303698
1.0     280846
14.0    277561
16.0    233434
22.0    231153
24.0    210843
17.0    204057
20.0    122953
31.0       201
21.0         4
Name: District, dtype: int64

In [12]:
district_11 = crimes[crimes["District"]==11.0]

In [16]:
district_11.to_csv("../data/district11.csv")

In [17]:
pd.read_csv("../data/district11.csv")

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,24,11039126,JA371798,01/01/2007 12:01:00 AM,009XX N DRAKE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,...,27.0,23.0,02,NaN,NaN,2007,10/21/2017 03:44:12 PM,NaN,NaN,NaN
1,38,11042914,JA374555,01/01/2008 12:01:00 AM,011XX S WHIPPLE ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,...,28.0,29.0,02,NaN,NaN,2008,08/19/2017 03:48:07 PM,NaN,NaN,NaN
2,44,11227513,JB137941,09/01/2017 09:00:00 AM,030XX W HARRISON ST,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,"SCHOOL, PUBLIC, BUILDING",False,...,28.0,27.0,17,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,45,11223717,JB141803,02/04/2018 03:25:00 PM,044XX W WASHINGTON BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,...,28.0,26.0,11,NaN,NaN,2018,02/11/2018 03:57:41 PM,NaN,NaN,NaN
4,59,11242963,JB168261,11/01/2014 09:00:00 AM,009XX N TRUMBULL AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,27.0,23.0,11,NaN,NaN,2014,03/01/2018 03:54:55 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453884,7063785,9999969,HY189942,03/18/2015 08:30:00 PM,045XX W WASHINGTON BLVD,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,...,28.0,26.0,18,1146222.0,1900113.0,2015,02/10/2018 03:50:01 PM,41.881893,-87.738538,"(41.881892843, -87.738537596)"
453885,7063793,9999977,HY189948,03/18/2015 08:20:00 PM,004XX N SPRINGFIELD AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,...,27.0,23.0,18,1150309.0,1902722.0,2015,02/10/2018 03:50:01 PM,41.888974,-87.723462,"(41.88897351, -87.723461985)"
453886,7063799,9999986,HY189728,03/18/2015 05:49:00 PM,042XX W WILCOX ST,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,False,...,28.0,26.0,15,1148119.0,1898998.0,2015,02/10/2018 03:50:01 PM,41.878797,-87.731600,"(41.878796866, -87.731600482)"
453887,7063803,9999991,HY189924,03/18/2015 08:32:00 PM,030XX W JACKSON BLVD,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,APARTMENT,False,...,28.0,27.0,26,1156211.0,1898534.0,2015,02/10/2018 03:50:01 PM,41.877364,-87.701901,"(41.877364077, -87.701900603)"
453888,7063806,9999997,HY189887,03/18/2015 07:55:00 PM,032XX W HURON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE PORCH/HALLWAY,False,...,27.0,23.0,08B,1154760.0,1904484.0,2015,02/10/2018 03:50:01 PM,41.893721,-87.707069,"(41.893720636, -87.707068862)"